files:
  # letting elasticbeanstalk know about the laravel logs
  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

container_commands:
  01_composer_install:
    command: "composer.phar install --no-dev"
    cwd: /var/app/staging
  02_run_migrations:
    command: "php artisan migrate --force"
    leader_only: true
    cwd: /var/app/staging
# uncomment in case you want to change permissions of these folders
#  03_make_storage_writeable:
#    command: "chmod -R 775 storage"
#    cwd: /var/app/staging
#  04_make_bootstrap_cache_writable:
#    command: "chmod -R 775 bootstrap/cache"
#    cwd: /var/app/staging
